body{
	
	font-family: Arial, Helvetica, sans-serif;
}


html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
 }
 
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  padding: 0;
}
.container{
	padding: 20px 20px 20px 20px !important;

}

#contact_img{
	width: 100%;
	height: 70%;
	box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.25) !important;
	border-radius: 10px;
}

#bio_jumbotron {
	background: url('./resources/main.JPG') no-repeat center center fixed;
	background-size: cover !important;
  }

.text-muted{
	font-size: 13px;
	font-weight: bold;
}

.form-title{
	font-weight: bold;
}

.form-group label{
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
	color: #828282;
}
.form-control{
	border: none; /*1px solid #f4f4f4;*/
	border-radius: 20px;
	background: rgba(236, 209, 207, 0.075);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
}
/* .btn{
	width: 100%;
	font-size: 12px;
	margin-top: 10px;
	box-shadow: none;
    text-align: center;
    border-radius: 5px;
} */

.btn {
	box-shadow: none;
}



.form-control:focus {
    color: #495057;
    border-color: #fff !important;
    outline: 0;
    box-shadow: 0 1px 1px 1px #75002f ;
}

/* .navbar {
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.25);
} */


.nav-link:hover {
	color:#75002f !important;
  }

.margin-top-50 {
	margin-top: 80px;
}


.bg-dark {
	background-color: #080808 !important;
  }

  .fit-logo-icon{
	border-radius: 50%;
	height: 100%;
}
  
.granite-red {
	color:#75002f !important;
}





