body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, 0.35), 
      rgba(0, 0, 0, 0.35)
    ), 
    url('./resources/main.JPG') no-repeat center center fixed;
    background-size: cover;
   
 }


.fronter {
    background:transparent;
    background-size: cover !important;
    width:100%; 
    border-radius: 0;
}


.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }


.btn-danger {
  color: #fff;
  background-color: #75002f !important;
  border-color: #75002f; /*set the color you want here*/
  box-shadow: 1px #530122 !important;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #530122 !important;
  border-color: #530122 !important; /*set the color you want here*/
}
