/* 
overflow: hidden; do not remove

no scroll: use for adjusting the position of jumbotron and footer with vh without adding
to the page */
html {
  overflow: hidden; 

}

body {
  overflow: hidden;
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)),
    url('./resources/main.JPG') no-repeat center center fixed;
  background-size: cover;

}




.fronter {
  background: transparent;
  background-size: cover !important;
  width: 100%;
  border-radius: 0;
}


.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.btn-danger {
  color: #fff;
  background-color: #75002f !important;
  border-color: #75002f;
  /*set the color you want here*/
  box-shadow: 1px #530122 !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #530122 !important;
  border-color: #530122 !important;
  /*set the color you want here*/
}


/* 
#index-jumbotron {
  margin-top: clamp(40px, calc(2rem + 40vw), 600px);
} */

/* 
#index-jumbotron{
  margin-top: 35vh;
}
#index-footer {
  margin-top: -8vh;
}  */

/* 
smart-phones: very high dpi, small screen
 */
@media handheld and (min-resolution: 250dpi){
  html{
    overflow: visible;
  }
  
  body{
    overflow: visible;
  }

  #index-jumbotron{
    margin-top: 30vh;
  }
  #index-footer {
    margin-top: -2vh;
  } 
}

/* 
laptop displays: low dpi
 */
@media screen and (min-height: 600px) and (max-resolution: 94dpi){
  #index-jumbotron{
    margin-top: 60vh;
  }
  #index-footer {
    margin-top: -6vh;
  } 
}

/* 
laptop displays: mid dpi
 */

 @media screen and (min-height: 600px) and (max-resolution: 200dpi){
  #index-jumbotron{
    margin-top: 40vh;
  }
  #index-footer {
    margin-top: -10vh;
  }  
}

/* 
laptop displays: mid-size high dpi
 */
 @media screen and (min-height: 600px) and (max-resolution: 300dpi){
  #index-jumbotron{
    margin-top: 40vh;
  }
  #index-footer {
    margin-top: -10vh;
  }  
}

/* 
laptop displays: large size high dpi
 */
 @media screen and (min-height: 800px) and (max-resolution: 300dpi){
  #index-jumbotron{
    margin-top: 50vh;
  }
  #index-footer {
    margin-top: -10vh;
  }  
}


#logo-img{
  max-height: 200px;
} 
