
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
 }
 
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  padding: 0;
}

#bio_jumbotron {
  background: url('./resources/main.JPG') no-repeat center center fixed;
  background-size: cover !important;
}

.row {
  margin-top: 15px;
}
.nav-link {
  color: white !important;
}

.nav-link:hover {
	color:#75012E !important;
}

.fit-logo-icon{
	border-radius: 50%;
	height: 100%;
}

.bg-dark{
  background-color: #080808 !important;
}


/* footer */
hr {
  color:  #75012E;
  border: 2px solid #75012E;
  margin: auto;
}

.jumbotron{
  height: 20em;
}

.red-hover :hover {
  background-color: #75002f;
}

